<a href="https://colab.research.google.com/github/refo44/dhds_tp1_grupo6/blob/main/Grupo6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Limpieza de datos

Autores:

Alejandro Pacheco
Laura Martinez
Juan Carlos Marín
Ignacio Neves
Luisa Correa
Rafael Figueredo

## Librerias

Inicialmente, importamos las librerias con las que se planea trabajar, para entender los datos y como trabajarlos.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Lectura del dataframe

Utilizamos la libreria Pandas para leer el dataset, y realizaremos un sampleo de 10 datos, el caual nos permite identificar columnas que cuentan con la misma información.

A continuación, utilizaremos el metodo **set_index()** para cambiar establecer la columna "Unnamed: 0" como el indice del dataframe.

In [ ]:
data = pd.read_csv("properatti.csv")
data = data.drop('Unnamed: 0', axis = 1)

data.sample(10)

### Forma del dataframe

Mediante la función **shape** conoceremos la dimensión del dataset, para darnos una primera idea de la totalidad de los datos.

In [ ]:
## Forma del dataset

print(f'Las dimendiones del dataset son las siguientes: {data.shape}')

In [ ]:
#Las columnas del dataset son las siguientes:

In [ ]:
data.columns.values.tolist()

A continuación, vamos a realizar un resumen general del los estadísticos básicos de las variables cuantitativas del dataset:

In [ ]:
data.describe()

In [ ]:
data.dtypes

## Missing values

In [ ]:
pd.isnull(data).sum()/121220*100

### Primeros pasos

Se verifica si efectivamente la columna "operation", cuenta unicamente con el dato "sell", mediante la utilización de Boolean indexing.

In [ ]:
mask = data.operation != 'sell'

data[mask].values.tolist()

Eliminando datos atípicos

In [ ]:
# mask1 = data.surface_total_in_m2<= 150000

# mask2 = data.surface_covered_in_m2.isna() == True

# data2 = data[mask1 & mask2]


mask = data.surface_total_in_m2<= 15000
mask2 = data.surface_total_in_m2.isna() == True

data2 = data[mask2 | mask]
data2.shape

Al obtener una lista vacia, confirmamos que la columna tiene un único valor, por lo cual, procedemos a eliminarla.

### Gráficas

In [ ]:
%matplotlib inline

n_bins = 10

fig, axs = plt.subplots(2,2, figsize = (15,10))
axs[0,0].hist(data2.surface_total_in_m2, bins = n_bins)
axs[0,1].hist(data.surface_covered_in_m2)
axs[1,0].hist(data.price_usd_per_m2)
axs[1,1].hist(data.price_per_m2)

Limpieza columna PRECIO X M2

In [ ]:
data2.price_per_m2.max()

In [ ]:
data2.price_per_m2.quantile(0.75)

In [ ]:
data2["precio_x_m2"] = np.where(data2.price_per_m2 > data2.price_per_m2.quantile(0.90),data2.price_per_m2.mean(),data2.price_per_m2)
data2["precio_x_m2"] = data2.precio_x_m2.fillna(data2.precio_x_m2.mean())

In [ ]:
data2.head()

In [ ]:
g = sns.histplot(data=data2, x = 'price_per_m2')
g.set(xlim = (0, 10000))

In [ ]:
g = sns.histplot(data=data2, x = 'precio_x_m2')
g.set(xlim = (0,data2.precio_x_m2.max()))

In [ ]:
data2.drop(['price_per_m2'] , axis = 1)

In [ ]:
g = sns.histplot(data=data2, x = 'precio_x_m2')
g.set(xlim = (0,data2.precio_x_m2.max()))

Limpieza columna FLOOR

In [ ]:
data2.floor.max()

In [ ]:
data2.price_per_m2.quantile(0.75)

In [ ]:
data2["piso"] = np.where(data2.floor > data2.floor.quantile(0.90),data2.floor.mean(),data2.floor)
data2["piso"] = data2.piso.fillna(data2.piso.mean())
data2.head()

In [ ]:
data2.drop(['floor'] , axis = 1)

In [ ]:
g = sns.histplot(data=data2, x = 'floor')
g.set(xlim = (0,40))